In [8]:
## Imports 
import pandas as pd 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [9]:
df = pd.read_excel("anscombes-quartet.xlsx")
df.head()

      X     Y   X.1   Y.1   X.2    Y.2  X.3   Y.3
0  10.0  8.04  10.0  9.14  10.0   7.46  8.0  6.58
1   8.0  6.95   8.0  8.14   8.0   6.77  8.0  5.76
2  13.0  7.58  13.0  8.74  13.0  12.74  8.0  7.71
3   9.0  8.81   9.0  8.77   9.0   7.11  8.0  8.84
4  11.0  8.33  11.0  9.26  11.0   7.81  8.0  8.47

In [16]:
columns = ["X","X.1", "X.2","X.3"]
df_v1 = df.dropna(axis=0, how='any', inplace=False)
print("Mean values of X column")
df_v1[columns].mean()
print("Standard deviation of X Columns")
df_v1[columns].std()

Mean values of X column

X      9.0
X.1    9.0
X.2    9.0
X.3    9.0
dtype: float64

Standard deviation of X Columns

X      3.316625
X.1    3.316625
X.2    3.316625
X.3    3.316625
dtype: float64

In [15]:
columns = ["Y","Y.1", "Y.2","Y.3"]
df_v1 = df.dropna(axis=0, how='any', inplace=False)
print("Mean values of Y column")
df_v1[columns].mean()
print("Standard deviation of Y Columns")
df_v1[columns].std()

Mean values of Y column

Y      7.500909
Y.1    7.500909
Y.2    7.500000
Y.3    7.500909
dtype: float64

Standard deviation of Y Columns

Y      2.031568
Y.1    2.031657
Y.2    2.030424
Y.3    2.030579
dtype: float64